

<table class="table table table-striped table-bordered table-hover">
   <thead class="table-dark ">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th>User Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dosts.each do |dost| %>
    <% if dost.user==current_user%>
      <tr>
        <td><%= dost.first_name %></td>
        <td><%= dost.last_name %></td>
        <td><%= dost.email %></td>
        <td><%= dost.phone %></td>
        <td><%= dost.twitter %></td>
        <td><%= dost.user_id %></td>
        <td><%= link_to 'Show', dost %></td>
        <td><%= link_to 'Edit', edit_dost_path(dost) %></td>
        <td><%= link_to 'Destroy', dost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dost', new_dost_path,class:"btn btn-secondary" %>
